DEBUG=True
DJANGO_SECRET_KEY=#add value here
DJANGO_SETTINGS_MODULE=config.settings.test
DJANGO_BASE_DIR=/app/dit_helpdesk
DIT_HELPDESK_ADMIN_PASSWORD=<<CHECK_VAULT>>
SENTRY_DSN=<<CHECK_VAULT>>
TEST_OUTPUT_DIR=/app/reports
