.app-cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;

  color: #00823b;
  box-sizing: border-box;
  width: 100%;

  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(0);
  background-color: lighten(desaturate(govuk-colour("white"), 8.46), 42.55);
}

.js-enabled {
  .app-cookie-banner {
    display: none;
  }

  .app-cookie-banner--show {
    display: block;
  }
}

@include govuk-media-query($media-type: print) {
  .app-cookie-banner {
    display: none !important;
  }
}

.app-cookie-banner__message, .app-cookie-banner__wrapper {
  font-size: 19px;
  line-height: 1.3157894737;
}

.button--secondary:link, .button--secondary:visited, .button--secondary:active, .button--secondary:focus{
  color: #00823b;
    background-color: #ffffff;
    text-decoration: none;
}

.button--secondary {
  padding: 8px 10px;
    border-color: #00823b;
    color: #00823b;
    background-color: #ffffff;
    box-shadow: none;
    margin-bottom: 22px;
}
