.app-hierarchy-tree,
.app-hierarchy-tree--child {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-hierarchy-tree {

  & > .app-hierarchy-tree__parent {
    margin-left: 0;

    &:nth-child(odd) {
      background-color: govuk-colour("white");
    }
  }
}

.app-hierarchy-tree--child {
  width: 100%;
}

.app-hierarchy-tree__part {
  @extend .govuk-body;
  line-height: 1.35;
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0.5em 0;
  text-align: right;
}

.app-hierarchy-tree__part {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: 10px;
}

.app-hierarchy-tree__part.app-hierarchy-tree__parent--open:last-child {
  border-bottom: none;
}

.app-hierarchy-tree__parent--closed {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 10px;
}

.app-hierarchy-tree__section:last-child {
  border-bottom: none;
}

.app-hierarchy-tree__parent--open .app-hierarchy-tree--child {
  border-top: 1px solid $govuk-border-colour;
  margin-bottom: 10px;
}

.app-hierarchy-tree--child a {
  padding-bottom: 10px;
}

.app-hierarchy-tree__parent--open{
  border-bottom: none;
}

.app-hierarchy-tree__part  {
  text-align: left;
}

.app-hierarchy-tree__commodity .app-hierarchy-tree__link--child {
  text-decoration: underline;
}

.app-hierarchy-tree__chapter,
.app-hierarchy-tree__commodity {
  margin-left: 1em;

  @include govuk-media-query($from: tablet) {
    margin-left: 1.5em;
  }
}

.app-commodity-code__is-blank{
  visibility: hidden;
}

.app-hierarchy-tree__section-numbers,
.app-hierarchy-tree__chapter-range {
  @extend .govuk-body-s;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: (8.8em / 2);

  @include govuk-media-query($from: tablet) {
    padding-top: 0.5em;
  }
}

.app-hierarchy-tree__section-numbers {
  margin-right: 1em;
  text-align: left;
  width: 6em;
}

.app-hierarchy-tree__chapter-range {
  width: 4em;
}

.app-hierarchy-tree__commodity-code {
  margin-top: 0.125em;

  @include govuk-media-query($from: tablet) {
    width: 10.5em;
  }
}

.app-hierarchy-tree__link {
  background-position: 0 0.25em;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.25em 1em 0.25em 0;
  text-align: left;
  vertical-align: middle;
  width: 100%;

  @include govuk-media-query($from: tablet) {
    background-position: -0.1em 0.15em;
  }

  @include govuk-media-query($from: tablet) {
    vertical-align: top;
    width: calc(100% - 10.5em);
  }
}

.app-hierarchy-tree__link--child {
  font-weight: bold;

  &:hover {
    .app-hierarchy-button {
      background-color: $govuk-link-hover-colour;
    }
  }

  &,
  &:visited {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }
}

.app-hierarchy-button {
  background-color: $govuk-link-colour;
  color: govuk-colour('white');
  display: block;
  line-height: 1;
  margin: 0.2em 0 0 0;
  padding: 0.6em 0.7em 0.4em 0.7em;
  text-decoration: none;
  width: 3em;
  text-align: center;
  text-transform: none;
}


.app-hierarchy-tree__link--parent {
  padding-left: -.5em;
  &:before {
    color: #005fa2;
    display: inline-block;
    margin-left: -1.25em;
    padding-right: 0.5em;
    text-decoration: underline;
  }

  .app-hierarchy-tree__parent--open & {
    &:before {
      content: "\25BC";
      font-size: 16px;
    }
    font-weight: normal;
  }

  .app-hierarchy-tree__parent--closed & {
    &:before {
      content: "\25B6";
      font-size: 15px;
    }
    font-weight: normal;
  }

  &:link:before {
    text-decoration: none;
  }

}
