@import "cookie-banner";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  @extend %govuk-link;
}

abbr {
  cursor: help;
}

.govuk-table td,
.govuk-table th {
  vertical-align: top;
}
