@import "cookie-banner";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  @extend %govuk-link;
}

abbr {
  cursor: help;
}

.govuk-table td,
.govuk-table th {
  vertical-align: top;
}

.app-hierarchy-context__wrapper {
  padding: 0;
}


.helpdesk-icon {
  background-position-x: -2px;
  background-position-y: 0;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: bottom;
}

.helpdesk-caption {
  color: #6f777b;
}
