@import "cookie-banner";

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  @extend %govuk-link;
}

abbr {
  cursor: help;
}

.app-footnotes {

  a[name] {
    @include govuk-link-common;
    @include govuk-link-style-default;
    @include govuk-link-print-friendly;
    text-decoration: underline;
    color: $govuk-link-colour;
  }
}

.text-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  box-shadow: none;
}

.text-button:hover {
  color: red;
}

.govuk-table td,
.govuk-table th {
  vertical-align: top;
}

.previous-answer {
  padding-bottom: govuk-spacing(2);
}

.helpdesk-direction__left-to-right:after {
  content: ' \279E';
}

.app-select--inline {
  @include mq ($from: tablet) {
    @include govuk-clearfix;
  }
  text-align: right;
}


.app-contents li:before {
  content: "\2014";
  margin: 0 1em 0 0;
}

.app-info {
  background-color: #e9f4f9;
  border-left: solid .5em #098dc1;
  padding: .5em;
}

.app-contents {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.helpdesk-breadcrumbs {

  position: relative;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 0 30px 0;

  nav {
    padding-left: 0.5em;

    ul {
      position: relative;
      list-style: none;
      padding-left: 15px;

      li {
        position: relative;
        display: block;
        line-height: 25px;
        margin-top: 5px;
        word-wrap: break-word;
      }
    }
  }
}

.helpdesk-breadcrumbs nav ul li::before {
  border-top: 2px solid #999;
  top: 13px;
  width: 10px;
  height: 0
}

.helpdesk-breadcrumbs nav ul li::after {
  border-left: 2px solid #999;
  height: 100%;
  width: 0px;
  top: 2px
}

.helpdesk-breadcrumbs nav ul li::before,
.helpdesk-breadcrumbs nav ul li::after {
  content: "";
  position: absolute;
  left: -15px
}

.helpdesk-breadcrumbs nav ul li:last-child::after {
  height: 12px
}

.helpdesk-breadcrumbs nav ul li .chapter-code,
.helpdesk-breadcrumbs nav ul li .heading-code,
.helpdesk-breadcrumbs nav ul li .commodity-code {
  float: left;
  margin-right: 8px
}

.helpdesk-breadcrumbs nav ul li.chapter-and-heading-li .chapter-code {
  margin-right: 0
}

.helpdesk-breadcrumbs nav ul li.commodity-li .chapter-code,
.helpdesk-breadcrumbs nav ul li.commodity-li .heading-code {
  margin-right: 0
}

.helpdesk-breadcrumbs nav ul li ul.commodities {
  padding-left: 15px
}

.app-hierarchy-context__wrapper {
  padding: 0;
}


.helpdesk-icon {
  background-position-x: -2px;
  background-position-y: 0;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: bottom;
}

.helpdesk-caption {
  color: #6f777b;
}
