{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
    {% if form.errors %}
        Error -
    {% endif %}
        {% block title_form_page %}{% endblock %}
{% endblock %}

{% block head %}
    {{ wizzard.form.media }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">

        <form action="" method="post">
            <div class="govuk-grid-row govuk-!-padding-bottom-9">
                <div class="govuk-grid-column-full">
                    {% if wizard.steps.prev %}
                        <div class="govuk-form-group govuk-!-width-two-thirds govuk-!-margin-bottom-0">
                            <a href="{{ wizard.steps.prev }}" class="govuk-back-link" name="wizard_goto_step" type="submit">Back</a>
                        </div>
                    {% endif %}
                    <fieldset class="govuk-fieldset" aria-describedby="none">
                        {% if is_error %}
                            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                                 data-module="error-summary">
                                <h2 class="govuk-error-summary__title" id="error-summary-title">
                                    There is a problem
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li>
                                            <a href="#commodity-code-error">{{ error_summary_message | safe }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {% block form_page_title %}{% endblock %}
                            </h1>
                        </legend>

                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% if form.errors %}
                            <div id="form"
                                 class="govuk-error-summary"
                                 aria-labelledby="error-summary-title"
                                 role="alert"
                                 tabindex="-1"
                                 data-module="error-summary">
                                <h3 class="govuk-error-summary__title"
                                    id="error-summary-title">Please fix the following errors</h3>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {{ field.name|title }}
                                                {% if field.name == 'name' %}
                                                    <li><a href="#{{ field.name }}"
                                                          class="error">Enter your full name</a></li>
                                                    {% endif %}
                                                {% if field.name == 'email_address' %}
                                                    <li><a href="#{{ field.name }}"
                                                         class="error">Enter an email address in the correct format, like name@example.com</a></li>
                                                    {% endif %}
                                                {% if field.name == 'terms_and_conditions' %}
                                                    <li><a href="#{{ field.name }}"
                                                         class="error">Tick the box to agree to the terms and conditions</a></li>
                                                    {% endif %}
                                                {% if field.name == 'message' %}
                                                    <li><a href="#{{ field.name }}"
                                                         class="error">Ask us a question or give us feedback</a></li>
                                                    {% endif %}
{#                                                {% for error in field.errors %}#}
{#                                                    <li><a href="#{{ field.name }}"#}
{#                                                           class="error">{{ error|escape }}</a></li>#}
{#                                                {% endfor %}#}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        <fieldset class="govuk-fieldset" aria-labelledby="none">
                            <legend class="govuk-fieldset__legend">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</legend>
                                {{ wizard.management_form }}
                                {% block form_body %}{% endblock %}
                        </fieldset>

                        <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">Continue</button>
                    </fieldset>
                </div>
            </div>
        </form>

    </main>
</div>

{% endblock %}
