{% extends "contact/contact_form_base.html" %}
{% load i18n %}


{% block title_form_page %}Contact us{% endblock %}

{% block form_page_title %}
    Your details
{% endblock %}

{% block form_body %}
    <div class="govuk-form-group govuk-!-width-two-thirds govuk-!-margin-bottom-0 {% if wizard.form.message.errors %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="id_step_three-message">{{ wizard.form.message.label_tag }}</label>
        {% if wizard.form.message.errors %}
            {% for error in wizard.form.message.errors %}
                <span id="message-error" class="govuk-error-message">{{ error | escape }}</span>
            {% endfor %}
        {% endif %}
      <div class="govuk-warning-text govuk-!-margin-bottom-0">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text govuk-!-margin-bottom-0" id="message-hint">
          Do not include personal or financial information, like your National Insurance number or credit card details.
        </strong>
      </div>
        <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="id_step_three-message" name="step_three-message" rows="7">{% if wizard.form.message.data %}{{ wizard.form.message.data }}{% endif %}</textarea>
        <p class="govuk-hint govuk-character-count__message govuk-!-margin-top-2 govuk-!-margin-bottom-8">You can enter up to 1,000 characters.</p>
    </div>

    <p class="govuk-body">Please leave your details below.</p>

    <div class="govuk-form-group {% if wizard.form.name.errors %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="id_step_three-name">{{ wizard.form.name.label_tag }}</label>
        {% if wizard.form.name.errors %}
            {% for error in wizard.form.name.errors %}
                <span id="name-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ error | escape }}</span>
            {% endfor %}
        {% endif %}
        <input class="govuk-input govuk-!-width-one-half{% if wizard.form.name.errors %} govuk-input--error{% endif %}" {% if wizard.form.name.errors %}aria-describedby="name-error"{% endif %} autocomplete="name" id="id_step_three-name" name="step_three-name" type="text" spellcheck="false" {% if wizard.form.name.data %}value="{{ wizard.form.name.data }}"{% endif %}/>
    </div>

    <div class="govuk-form-group {% if wizard.form.email_address.errors %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="id_step_three-email_address">{{ wizard.form.email_address.label_tag }}</label>
        {% if wizard.form.email_address.errors %}
            {% for error in wizard.form.email_address.errors %}
                <span id="email-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ error | escape }}</span>
            {% endfor %}
        {% endif %}
        <input class="govuk-input govuk-!-width-one-half {% if wizard.form.email_address.errors %}govuk-!-width-two-thirds govuk-!-margin-bottom-0 govuk-input--error{% endif %}" {% if wizard.form.email_address.errors %}aria-describedby="email-error"{% endif %} autocomplete="email" id="id_step_three-email_address" name="step_three-email_address" type="email" spellcheck="false" {% if wizard.form.email_address.data %}value="{{ wizard.form.email_address.data }}"{% endif %} />
    </div>

    <div class="govuk-form-group govuk-!-width-two-thirds {% if wizard.form.terms_and_conditions.errors %}govuk-form-group--error{% endif %}">
        {% if wizard.form.terms_and_conditions.errors %}
            {% for error in wizard.form.terms_and_conditions.errors %}
                <span id="message-error" class="govuk-error-message">{{ error | escape }}</span>
            {% endfor %}
        {% endif %}
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="id_step_three-terms_and_conditions" name="step_three-terms_and_conditions" aria-describedby="terms_and_conditions-hint" {% if wizard.form.terms_and_conditions.data %}checked{% endif %} type="checkbox"/>
                <label class="govuk-label govuk-checkboxes__label" for="id_step_three-terms_and_conditions">Tick this box to accept the <a href="{% url 'privacy:terms_and_conditions' %}" rel="external" target="_blank">Terms and Conditions <span class="govuk-visually-hidden">Opens in new window</span></a> for this service</label>
            </div>
        </div>
    </div>
{% endblock %}
