{% extends 'core/base.html' %}
{% load static staticfiles i18n %}

{% block title %}Disclaimer{% endblock title %}

{% block content %}

    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-xl">Disclaimer</h2>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                    <h3 class="govuk-heading-l" id="introduction">Disclaimer for the 'Check duties and customs
                        procedures for exporting goods' service – Draft Text</h3>


                    <p class="govuk-body">The information in the ‘Check duties and customs procedures for exporting
                        goods’ service may not be used for resale (or in the provision of consultancy services),
                        redistribution, building of databases, storage, or for any purpose other than reference use by a
                        United Kingdom user personally located within Great Britain and Northern Ireland in support of
                        the user's own international business processes in the United Kingdom.</p>
                    <p class="govuk-body">All other use is prohibited unless explicitly approved in writing by the owner
                        of the data: Mendel Verlag GmbH & Co. KG, Wasserstraße 223, 44799 Bochum, Germany.</p>
                    <p class="govuk-body">If the computer on which your browser is running is not directly connected to
                        the Internet in the United Kingdom, via an Internet Service Provider located in and incorporated
                        in Great Britain or Northern Ireland, then you are prohibited from viewing the data herein for
                        any purpose.</p>
                    <p class="govuk-body">The information and reports obtained from this database are not official
                        documents. Care has been taken to ensure the accuracy of the information contained within the
                        database, but no responsibility can be accepted by the Department for International Trade or the
                        data provider for any inadvertent errors or omissions.</p>
                    <p class="govuk-body">By proceeding and viewing the data you are agreeing to these terms.</p>


                </div>
            </div>

        </main>
    </div>

{% endblock content %}
