{% extends 'core/base.html' %}
{% load static staticfiles i18n %}

{% block title %}Accessibility{% endblock title %}

{% block content %}

    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-xl">Accessibility</h2>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h3 class="govuk-heading-m" id="using_this_online_service">Using this online service</h3>
                    <p class="govuk-body">This online service is run by the Department for International Trade. We want
                        as many people as possible to be able to use this online service. For example, that means you
                        should be able to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate the service using just a keyboard</li>
                    </ul>
                    <p class="govuk-body">We’ve also made the text as simple as possible to understand.</p>
                    <p class="govuk-body">AbilityNet has advice on making your device easier to use if you have a
                        disability.</p>
                    <h3 class="govuk-heading-m">About the accessibility of this service</h3>
                    <p class="govuk-body">We used components in the GOV.UK Design System to build this service. The
                        Design System accessibility guide explains the current state of accessibility for these
                        components.</p>
                    <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>some pages and document attachments are not clearly written</li>
                        <li>some tables do not have row headers</li>
                        <li>some pages have poor colour contrast</li>
                        <li>some heading elements are not consistent</li>
                        <li>some images do not have good alternative text</li>
                        <li>some error messages are not clearly associated with form controls</li>
                    </ul>
                    <h3 class="govuk-heading-m" id="about_the_future_accessibility_of_this_service">About the future
                        accessibility of this service</h3>
                    <p class="govuk-body">We are in the process of arranging a full WCAG 2.1 audit for this online
                        service.</p>
                    <p class="govuk-body">We will update this statement once we’ve received the WCAG 2.1 audit report.
                        In the meantime, we have done some basic checks, and addressed the issues that were flagged.</p>
                    <p class="govuk-body">Future accessibility features:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>listen to the service using a screen reader (including recent versions of JAWS, NVDA and
                            VoiceOver)
                        </li>
                        <li>navigate the service using speech recognition software</li>
                    </ul>
                    <p class="govuk-body">We plan to have this feature available by January 2020.</p>
                    <h3 class="govuk-heading-m" id="what_to_do_if_you_cant_access_part_of_this_service">What to do if
                        you can’t access part of this service</h3>
                    <p class="govuk-body">If you need information on this website in a different format, you can request
                        support in the following ways:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>email <a href="mailto:help@digital.trade.gov.uk">help@digital.trade.gov.uk</a></li>
                    </ul>
                    <h3 class="govuk-heading-m" id="reporting_accessibility_problems">Reporting accessibility
                        problems</h3>
                    <p class="govuk-body">We’re always looking to improve the accessibility of this online service.</p>
                    <p class="govuk-body">If you find any problems that aren’t listed on this page or think we’re not
                        meeting the requirements of the accessibility regulations, contact: help@digital.trade.gov.uk
                        giving details of the issue and any assistive technology you are using.</p>
                    <h3 class="govuk-heading-m" id="enforcement_procedure">Enforcement procedure</h3>
                    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing
                        the accessibility regulations. If you’re not happy with how we respond to your complaint,
                        contact the Equality Advisory and Support Service (EASS).</p>
                    <h3 class="govuk-heading-m" id="technical_information_about_this_services_accessibility">Technical
                        information about this service’s accessibility</h3>
                    <p class="govuk-body">The Department for International Trade is committed to making its online
                        services accessible, in accordance with the Public Sector Bodies (Websites and Mobile
                        Applications) (No. 2) Accessibility Regulations 2018.</p>
                    <p class="govuk-body">This online service is partially compliant with the Web Content Accessibility
                        Guidelines version 2.1 AA standard, due to the non-compliance issues listed below.</p>
                    <h3 class="govuk-heading-m" id="issues_with_interactive_tools_and_transactions">Issues with
                        interactive tools and transactions</h3>
                    <p class="govuk-body">There are known issues with the GOV.UK Design System, as explained in the
                        Design System accessibility guide. We will update our service with any accessibility fixes once
                        they are released to the GOV.UK Design System.</p>
                    <h3 class="govuk-heading-m" id="how_we_tested_this_online_service">How we tested this online
                        service</h3>
                    <p class="govuk-body">Basic tests were carried out on this online service on 2 October 2019 and 14
                        October 2019. The service was tested from start to finish with keyboard testing and zooming in
                        to 300%. These tests were carried out by the Department for International Trade.</p>
                    <p class="govuk-body">What we’re doing to improve accessibility</p>
                    <p class="govuk-body">We are in the process of arranging a full WCAG 2.1 audit of this online
                        service. We will then update this statement and aim to implement any changes by January
                        2020.</p>
                    <p class="govuk-body">This statement was written on 15 October 2019.</p>


                </div>
            </div>

        </main>
    </div>

{% endblock content %}
