{% extends 'core/base.html' %}

{% block title %}Accessibility{% endblock title %}

{% block content %}

    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-xl">Accessibility</h2>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h3 class="govuk-heading-m" id="using_this_online_service">Using this online service</h3>
                    <p class="govuk-body">This online service is run by the Department for Business and Trade. We want as many people as possible to be able to use this online service. For example, that means you should be able to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate most of the service using just a keyboard</li>
                        <li>navigate most of the service using speech recognition software</li>
                        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

                    <h3 class="govuk-heading-m" id="about_the_accessibility_of_this_service">About the accessibility of this service</h3>
                    <p class="govuk-body">We used components in the GOV.UK Design System to build this service. The <a href="https://design-system.service.gov.uk/accessibility/" class="govuk-link">Design System accessibility guide</a> explains the current state of accessibility for these components.</p>
                    <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>because of the regulatory nature of the content, some links may be difficult to understand out of context; in particular the word “Other” is frequently used to differentiate all commodity types not covered by a preceding description</li>
                        <li>the search fields include an auto-suggest feature which is not accessible to some screen readers; however all search results can still be found by submitting the search form in the standard way</li>
                    </ul>

                    <h3 class="govuk-heading-m" id="about_the_future_accessibility_of_this_service">About the future accessibility of this service</h3>
                    <p class="govuk-body">We are currently working through the issues listed above, and – as far as possible - intend to improve on them in forthcoming releases.</p>

                    <h3 class="govuk-heading-m" id="access_advice">What to do if you can't access part of this service</h3>
                    <p class="govuk-body">If you need information on this website in a different format, you can request support in the following ways:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>email <a href="mailto:help@digital.trade.gov.uk" class="govuk-link">help@digital.trade.gov.uk</a></li>
                    </ul>

                    <h3 class="govuk-heading-m" id="reporting_accessibility_problems">Reporting accessibility problems</h3>
                    <p class="govuk-body">We're always looking to improve the accessibility of this online service.</p>
                    <p class="govuk-body">If you find any problems that aren't listed on this page or think we're not meeting the requirements of the accessibility regulations, contact: <a href="mailto:help@digital.trade.gov.uk" class="govuk-link">help@digital.trade.gov.uk</a> giving details of the issue and any assistive technology you are using.</p>

                    <h3 class="govuk-heading-m" id="enforcement_procedure">Enforcement procedure</h3>
                    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>

                    <h3 class="govuk-heading-m" id="technical_information">Technical information about this service's accessibility</h3>
                    <p class="govuk-body">The Department for Business and Trade is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
                    <p class="govuk-body">This online service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliance issues listed above.</p>

                    <h3 class="govuk-heading-m" id="how_we_tested">How we tested this online service</h3>
                    <p class="govuk-body">Full WCAG 2.1 audits of this online service were carried out on 16 March 2020 and 4 August 2020, Tests were carried out using</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>screen readers</li>
                        <li>voice activation software</li>
                        <li>keyboard only access</li>
                        <li>zooming in to 300%</li>
                        <li>system inverted colours</li>
                    </ul>
                    <p class="govuk-body">These tests were carried out by Digital Accessibility Centre Ltd.</p>

                    <h3 class="govuk-heading-m" id="what_we_re_doing_to_improve">What we're doing to improve accessibility</h3>
                    <p class="govuk-body">We are currently seeking ways to improve upon the issues highlighted in the audit above.</p>

                    <p class="govuk-body">This statement was written on 22 September 2020.</p>
                </div>
            </div>

        </main>
    </div>

{% endblock content %}
