{% extends "core/base.html" %}
{% load i18n %}

{% block ga_gta_head %}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ GA_GTM }}');</script>
<!-- End Google Tag Manager -->

{% endblock %}

{% block ga_gta_body %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZNG99X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% endblock %}

{% block title %}
    {% if form.errors %}
        Error -
    {% endif %}
        {% block title_form_page %}{% endblock %}
{% endblock %}

{% block head %}
    {{ wizzard.form.media }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">

        <form action="" method="post">
            <div class="govuk-grid-row govuk-!-padding-bottom-9">
                <div class="govuk-grid-column-full">

                    {% if is_error %}
                        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                             data-module="error-summary">
                            <h2 class="govuk-error-summary__title" id="error-summary-title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>
                                        <a href="#commodity-code-error">{{ error_summary_message | safe }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <h2 class="govuk-heading-l">
                        <span class="govuk-caption-l">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span>
                        {% block form_page_title %}{% endblock %}
                    </h2>

                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% if form.errors %}
                            <div id="form"
                                 class="govuk-error-summary"
                                 aria-labelledby="error-summary-title"
                                 role="alert"
                                 tabindex="-1"
                                 data-module="error-summary">
                                <h3 class="govuk-error-summary__title"
                                    id="error-summary-title">Please fix the following errors</h3>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {{ field.name|title }}
                                                {% for error in field.errors %}
                                                    <li><a href="#{{ field.name }}"
                                                           class="error">{{ error|escape }}</a></li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        <fieldset class="govuk-fieldset">

                            {{ wizard.management_form }}

                            {% block form_body %}{% endblock %}

                        </fieldset>

                        <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">Continue
                        </button>

                        {% if wizard.steps.prev %}
                            <div class="govuk-form-group govuk-!-width-two-thirds govuk-!-margin-bottom-0">
                                <button class="govuk-button text-button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Go back</button>
                            </div>
                        {% endif %}


                </div>
            </div>
        </form>

    </main>
</div>

{% endblock %}
